[submodule "nvim/.config/nvim/bundle/base16-vim"]
	path = nvim/.config/nvim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
	branch = master
[submodule "nvim/.config/nvim/bundle/vim-surround"]
	path = nvim/.config/nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "nvim/.config/nvim/bundle/nerdtree"]
	path = nvim/.config/nvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "nvim/.config/nvim/bundle/vim-airline"]
	path = nvim/.config/nvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule "nvim/.config/nvim/bundle/vim-airline-themes"]
	path = nvim/.config/nvim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	branch = master
[submodule "nvim/.config/nvim/bundle/nerdcommenter"]
	path = nvim/.config/nvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	branch = master
[submodule "nvim/.config/nvim/bundle/delimitmate"]
	path = nvim/.config/nvim/bundle/delimitmate
	url = https://github.com/raimondi/delimitmate.git
	branch = master
[submodule "nvim/.config/nvim/bundle/vim-polyglot"]
	path = nvim/.config/nvim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = master
[submodule "base16-shell/.config/base16-shell"]
	path = base16-shell/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
	branch = master
[submodule "nvim/.config/nvim/bundle/vim-fugitive"]
	path = nvim/.config/nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "nvim/.config/nvim/bundle/deoplete.nvim"]
	path = nvim/.config/nvim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
	branch = master
[submodule "nvim/.config/nvim/bundle/vim-sleuth"]
	path = nvim/.config/nvim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
	branch = master
[submodule "nvim/.config/nvim/bundle/deoplete-rust"]
	path = nvim/.config/nvim/bundle/deoplete-rust
	url = https://github.com/sebastianmarkow/deoplete-rust.git
	branch = master
[submodule "nvim/.config/nvim/bundle/vimwiki"]
	path = nvim/.config/nvim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
	branch = master
[submodule "nvim/.config/nvim/bundle/caddy.vim"]
	path = nvim/.config/nvim/bundle/caddy.vim
	url = https://github.com/zsiciarz/caddy.vim.git
	branch = master
[submodule "nvim/.config/nvim/bundle/nvim-typescript"]
	path = nvim/.config/nvim/bundle/nvim-typescript
	url = https://github.com/mhartington/nvim-typescript.git
	branch = master
