fish_history
fishd.*
state.pickle
fish/.config/fish/completions
fish/.config/fish/fish_variables
fish/.config/fish/functions/fisher.fish
nvim/.config/nvim/plugged/
nvim/.config/nvim/autoload/plug.vim.old
