[submodule "nvim/.config/nvim/bundle/base16-vim"]
	path = nvim/.config/nvim/bundle/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "nvim/.config/nvim/bundle/vim-surround"]
	path = nvim/.config/nvim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "nvim/.config/nvim/bundle/nerdtree"]
	path = nvim/.config/nvim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "nvim/.config/nvim/bundle/YouCompleteMe"]
	path = nvim/.config/nvim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
