set -g default-terminal "tmux-256color"

# Don't delay esc
set -s escape-time 10

# Index windows and panes from 1
set -g base-index 1
setw -g pane-base-index 1

# Move current window to first position
bind-key T swap-window -t 1

bind-key y setw synchronize-panes off \; display-message "Pane sync disabled"
bind-key Y setw synchronize-panes on \; display-message "Pane sync enabled"

# Gapless window index
set-option -g renumber-windows on

# Reload tmux.config
bind r source-file ~/.config/tmux/tmux.config \; display-message "Config reloaded"

# Don't allow pane rename
set -g allow-rename off

# DESIGN
set -g status-position bottom
set -g status-fg colour03
set -g status-bg colour11
set -g status-attr none
set -g status-left ''
set -g status-right ''
set -g status-right-length 50
set -g status-left-length 20

setw -g window-status-fg colour13
setw -g window-status-bg colour11
setw -g window-status-format ' #[fg=colour03]#I#[fg=colour08]:#[fg=default]#W#[fg=colour04]#F '

setw -g window-status-bell-attr bold
setw -g window-status-bell-fg colour02
setw -g window-status-bell-bg colour01

setw -g window-status-current-fg colour13
setw -g window-status-current-bg colour00
setw -g window-status-current-format '#{?client_prefix,#[fg=colour00]#[bg=colour03] #I:#W#F , #[fg=colour03]#I#[fg=colour08]:#[fg=default]#W#[fg=colour03]#F }'

setw -g pane-active-border-fg colour03

set -g message-attr bold
set -g message-fg colour18
set -g message-bg colour03
