set -g default-terminal "tmux-256color"

# Don't delay esc
set -s escape-time 10

# Index windows and panes from 1
set -g base-index 1
setw -g pane-base-index 1

# Move current window to first position
bind-key T swap-window -t 1

bind-key y setw synchronize-panes off \; display-message "Pane sync disabled"
bind-key Y setw synchronize-panes on \; display-message "Pane sync enabled"

# Gapless window index
set-option -g renumber-windows on

# Reload tmux.config
bind r source-file ~/.config/tmux/tmux.config \; display-message "Config reloaded"

# Don't allow pane rename
set -g allow-rename off

bind-key m set -g mouse off
bind-key M set -g mouse on

# DESIGN
set -g status-position bottom
set -g status-style fg=colour03,bg=colour19,none
set -g status-left ''
set -g status-right ''
set -g status-right-length 50
set -g status-left-length 20

setw -g window-status-style fg=colour13,bg=colour19
setw -g window-status-format ' #[fg=colour05]#I#[fg=colour21]:#[fg=color21]#W#[fg=colour21]#F '

setw -g window-status-bell-style bg=colour01,bg=colour02,bold

setw -g window-status-current-style bg=colour00,fg=colour00
setw -g window-status-current-format '#{?client_prefix,#[fg=colour00]#[bg=colour15] #I:#W#F , #[fg=colour03]#I#[fg=colour15]:#[fg=colour15]#W#[fg=colour15]#F }'

setw -g pane-active-border-style fg=colour15

set -g message-style fg=colour18,bg=colour05,bold

# Plugins
set -g @tpm_plugins ' \
	tmux-plugins/tpm \
	tmux-plugins/tmux-resurrect \
'

# Load plugins
run '$XDG_CONFIG_HOME/tmux/plugins/tpm/tpm'
